# Hugo default output directory
/public
public/
resources

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

*.zip
.pyc
dist/
.vscode/
*.code-workspace
.hugo_build.lock

# https://github.com/awslabs/aws-well-architected-labs/issues/92
!docs/stylesheets/
/.vs
/static/Reliability/300_Testing_for_Resiliency_of_EC2_RDS_and_S3/Code/FailureSimulations/c#/AppResiliency/.vs/AppResiliency/v16
/static/Reliability/300_Testing_for_Resiliency_of_EC2_RDS_and_S3/Code/FailureSimulations/c#/AppResiliency/output
