
:root{

    --MAIN-TEXT-color:#232F3E; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #161E2D; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#3344dd; /* Color of links */
    --MAIN-LINK-HOVER-color:#3344dd; /* Color of hovered links */
    --MAIN-ANCHOR-color: #0a0a0c; /* color of anchors on titles */

    --MENU-HEADER-BG-color:#161E2D; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#161E2D; /*Color of menu header border */

    --MENU-SEARCH-BG-color:#202c3c; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #4d6584; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #4d6584; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#232F3E; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#161E2D; /* Background color of other sections */
    --MENU-SECTIONS-TEXT-color: #FF9900; /*Color of pre text */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #232F3E; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #FF9900; /* Color of background for the active category (only) */
    --MENU-SECTION-ACTIVE-CATEGORY-TEXT-color: #fff; /* Color of pre text when selected */

    --MENU-VISITED-color: #527FFF; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */

}

body {
    font-family: "Lato", "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    color: var(--MAIN-TEXT-color) !important;
}

#chapter h3 {
    font-family: "Lato", "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5, h6 {
    font-family: "Lato", "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

h1 {
    font-family: "Lato", "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#sidebar #footer {
  padding-top: 20px !important;
}

#sidebar #footer h2.github-title {
  font-size: 20px;
  color: #fd9827 !important;
  margin: 10px 0px 5px;
  padding: 0px;
  font-weight: normal !important;
  margin-top: 10px;
  padding-top: 30px;
  border-top: 1px dotted #384657;
}

#sidebar #footer h3.github-title {
  font-size: 14px;
  margin: 10px 0px 5px;
  padding: 0px;
  text-transform: uppercase;
  letter-spacing: .15px;
}

#sidebar #footer h5.copyright, #sidebar #footer p.build-number {
  color: var(--MENU-SECTIONS-LINK-color) !important;
  font-size: 10px;
  letter-spacing: .15px;
  line-height: 150% !important;
}
#body .expand-label{
    color: var(--MAIN-LINK-color);
}
#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}

#sidebar ul.topics li.parent > ul {
    display: block;
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#sidebar #shortcuts h3 {
    font-family: "Amazon Eber", "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    color: white !important;
    margin-top:1rem;
    padding-left: 1rem;
}

#navigation a.nav-prev, #navigation a.nav-next {
    color: #f19e39 !important;
}

#navigation a.nav-prev:hover, #navigation a.nav-next:hover  {
    color: #e07d04 !important;
}

#sidebar ul.topics li.parent ul, #sidebar ul.topics > li.active ul {
    display: none;
}

nav#sidebar ul.topics li.parent > ul {
	display: block;
}

div.notices p:first-child:before {
    position: absolute;
    top: 2px;
    color: #fff;
    font-family: 'Font Awesome\ 5 Free';
    content: #F06A;
    font-weight: 900; /* Fix version 5.0.9 */
    left: 10px;
}

img[alt=spot_logo] { width: 350px; }

.contributors{
    display:flex;
    flex-flow:  wrap;
    align-content: flex-start
}

.contributors > div{
    width: 100% ;
    display: inline-flex;
    margin-bottom: 5px;
}
.contributors > div label{
    padding-left: 4px ;
}

.contributors > div span{
    font-size: x-small;
    padding-left: 4px ;
}

.contributor_entry >div {
    width: 100px;
}



div.cards {
    margin: 2rem 0;
    position: relative;
}


div.cards p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #888;
}

div.cards.important_workshop p.header {
    background: #6AB0DE;
    color: #fff;
    font-weight: 900;
    padding: 5px;
}

/*
div.cards.important_workshop p {
    background: #E7F2FA;
    padding-bottom: 30px;
}
*/

div.cards.important_workshop div.content {
    background: #E7F2FA;
    padding-bottom: 30px;
    min-height: 100px;
    margin: 0px;
    padding: 0px;
    color: #333;
}

div.cards.workshop p.header {
    background: rgba(92, 184, 92, 0.8);;
    color: #fff;
    font-weight: 900;
    padding: 5px;
}

div.cards.workshop div.content {
    background: #E6F9E6;
    padding-bottom: 30px;
    min-height: 100px;
    margin: 0px;
    padding: 0px;
    color: #333;
}

a#logo {
    width: 200px;
}

@media all and (max-width: 480px) {
    a#logo {
      width: 96px;
    }
}
